h1{
    font-size: x-large;
    /* margin: 30px; */
    margin-top: 30px;
    margin-bottom: 30px;



}
select{
    padding: 10px;
    width: 300px;
    margin-left: 480px;
}

img{
    width: 250px;
    height: 300px;
    margin: 20px;
    /* padding: 10px; */

}
main{
    margin: 0 auto;
}
#photo-template{
    width: 30%;
    height: 500px;
    display: inline-block;
    border:outset 1px gray;
    border-radius: 5px;
    margin: 10px;
    opacity: 1;
    transition: 0.3s
}

#photo-template :hover{
    transform: scale(1.1);
    opacity: .8;
}

h2 ,p {
    text-align: center;
    padding: 10px;
}
header{
    margin-bottom: 10px;
    height: 200px;
}

p {
    font-size: smaller;
}

